<%-include("partials/header.ejs"); %>
	<section class="add-data w-full">
		<h1 class="text-center" >Hello there <%=user.uname%></h1>
		<form action="" class="cols" id="aform" method="post" enctype="multipart/form-data">
		<p class="text-center" id="err"></p>
			<label class="block">
			    <span class="sr-only">Choose profile photo</span>
			    <input type="file" name="image" class="block w-full text-sm text-slate-500
			      file:mr-4 file:py-2 file:px-4
			      file:rounded-full file:border-0
			      file:text-sm file:font-semibold
			      file:bg-violet-50 file:text-violet-700
			      hover:file:bg-violet-100
			    "/>
			  </label>
		<div class="flex center ">
			<div><p >Date of birth</p></div>
			<div><input type="date" name="dob"></div>
		</div>
		<!----<div class="flex center ">
			<div><p >Home Address</p></div>
			<div><textarea name="address" id="add" cols="25" rows="5"></textarea></div>
		</div>---->
		<input type="hidden" value="<%=user._id%>" name="uid">		
		<button class="btn btn-primary">Finish</button>			
		</form>
	</section>
<%-include("partials/footer.ejs"); %>