<%-include("partials/header.ejs"); %>
<form action="/fetch" id="rform" method="POST">
<div class="font-sans antialiased bg-grey-lightest">
  <!-- Content -->
  <div class="w-full bg-grey-lightest" style="padding-top: 4rem;">
    <div class="container mx-auto py-8">
      <div class="w-5/6 lg:w-1/2 mx-auto bg-white rounded shadow">
            <div class="py-4 text-center px-8 text-black text-xl bg-indigo-500 text-white border-b border-grey-lighter">Register</div>
            <div class="py-4 px-8">
                <div class="mb-4">
                	<p id="err"><%=errmsg%><p>
                    <label class="block text-grey-darker text-sm font-bold mb-2" for="username">Username</label>
                    <input class="appearance-none border rounded w-full py-2 px-3 text-grey-darker" name="uid" id="uid" type="text" placeholder="Enter a User Name">
                    <p class="text-grey text-xs mt-1">At least 6 characters</p>
                </div>            	
                <div class="flex mb-4">
                    <div class="w-1/2 mr-1">
                        <label class="block text-grey-darker text-sm font-bold mb-2" for="first_name">First Name</label>
                        <input class="appearance-none border rounded w-full py-2 px-3 text-grey-darker" id="first_name" name="fname" type="text" placeholder="Your first name">
                    </div>
                    <div class="w-1/2 ml-1">
                        <label class="block text-grey-darker text-sm font-bold mb-2" for="last_name">Last Name</label>
                        <input class="appearance-none border rounded w-full py-2 px-3 text-grey-darker" id="last_name" type="text" name="lname" placeholder="Your last name">
                    </div>
                </div>
                <div class="flex mb-4">
	                <div class="w-1/2 ml-1">
	                    <label class="block text-grey-darker text-sm font-bold mb-2" for="email">Email Address</label>
	                    <input class="appearance-none border rounded w-full py-2 px-3 text-grey-darker" id="email" type="email" name="email" placeholder="Your email address">
	                </div>
		            <div class="w-1/2 ml-1">
		                <label class="block text-grey-darker text-sm font-bold mb-2" for="mobile">Last Name</label>
		                <input class="appearance-none border rounded w-full py-2 px-3 text-grey-darker" name="mobile" id="mobile" type="text" placeholder="Mobile Number">
		            </div>
	            </div>                
                <div class="mb-4">
                    <label class="block text-grey-darker text-sm font-bold mb-2" for="password">Password</label>
                    <input class="appearance-none border rounded w-full py-2 px-3 text-grey-darker" id="password" type="password" name="pwd" placeholder="Your secure password">
                    <p class="text-grey text-xs mt-1">At least 6 characters</p>
                </div>
                <div class="flex items-center justify-between mt-8">
                    <button class="btn bg-indigo-800 hover:opacity-1 text-white" type="submit">
                        Sign Up
                    </button>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
</form>
<%- include("partials/footer.ejs"); %>