<%-include("partials/header.ejs");%>
<section class="container h-screen w-full grid justify-center content-center">
	<i class="fas fa-message"></i>
	<h1 class="text-center text-xl">Start Messaging Now</h1>
</section>
<%-include("partials/footer.ejs");%>