<%-include("partials/header.ejs");%>
	<section id="main">
			<div class="header  flex flex-row justify-between content-center bg-indigo-800 w-full min-h-16">
				<h1 class="text-white text-5xl display-inline"><%=user.uname%></h1>
				<p class="text-white text-xl  opacity-3 mt-3 mx-5 display-inline"><%=user.add.currentPosition%></p>
			</div>
			<div class=" mx-5 container-main grid grid-cols-2 gap-4 grid-flow-row">
				<div>
				<b>First Name</b>
				<p><%=user.uname%></p>
				</div>
				<div>
				<b>Last Name</b>
				<p><%=user.lname%></p>
				</div>	
				<div>
					<b>Email Address</b>
					<p><%=user.email%></p>
				</div>
				<div>
					<b>Phone Number</b>
					<p><%=user.mobile%></p>
				</div>	
				<div>
					<b>Address</b>
					<p><%=user.add.address.localAddress%></p>
				</div>
				<div>
					<b>City</b>
					<p><%=user.add.address.city%></p>
				</div>
				<div>
					<b>Zip Code</b>
					<p><%=user.add.address.zip%></p>
				</div>
				<div>
					<b>About</b>
					<p><%user.add.address.about%></p>
				</div>
				<div>
					<b>Education</b>
					<b>School</b>
					<p><%=user.add.education.school%></p>
					<b>Passout Year</b>
					<p><%=user.add.education.passingyear%></p>
					<b>College</b>
					<p><%=user.add.education.College%></p>
					<b>Pass out Year</b>
					<p><%=user.add.education.college_passing_year%></p>
					<b>Major</b>
					<p><%=user.add.education.major%></p>										
				</div>
				<div>
					<b>Expirence</b>
					<b>Previous Recuriter </b>
					<p><%=user.add.exp.company%></p>
					<b>Joining Date</b>
					<p><%=user.add.exp.joined%></p>
					<b>Still Working </b>
					<p><%=user.add.exp.stillWorking%></p>
					<b>Years of expirence</b>
					<p><%=user.add.exp.years%></p>
					
				</div>
				<a href="<%=filePath%>" id="pdf" target="_blank" >Download</a>
			<div>		
	</section>
<%-include("partials/footer.ejs");%>