<%-include("partials/header.ejs");%>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <div class="main-content">
    <!-- Top navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
      <div class="container-fluid">
        <ul class="navbar-nav align-items-center d-none d-md-flex">
          <li class="nav-item dropdown">
            <a class="nav-link pr-0" href="/users/<%=user._id%>" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <input type="hidden" id="user_id" value="<%=user._id%>">
              <div class="media align-items-center">
                <span class="avatar avatar-sm rounded-circle">
                  <img alt="Image placeholder" src="data:image/<%=user.add.imgData.img.contentType%>;base64,
                     <%=user.add.imgData.img.data.toString('base64')%>">
                </span>
                <div class="media-body ml-2 d-none d-lg-block">
                  <span class="mb-0 text-sm  font-weight-bold"><%= user.uname %> <%=user.lname %></span>
                </div>
              </div>
            </a>
f          </li>
        </ul>
      </div>
    </nav>
    <!-- Header -->
    <div class="header custom_bg pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(https://raw.githubusercontent.com/creativetimofficial/argon-dashboard/gh-pages/assets-old/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->
      <div class="container-fluid d-flex align-items-center">
        <div class="row">
          <div class="col-lg-7 col-md-10">
            <h1 class="display-2 text-white">Hello <%=user.uname%></h1>
            <p class="text-white mt-0 mb-5">This is your profile page. You can see the progress you've made with your work and manage your projects or assigned tasks</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
  <form id="pform" action="/profile/<%=user._id%>" method="POST">   
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
          <div class="card card-profile shadow">
            <div class="row justify-content-center"> 
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                   <label for="fileData">
                    <img id="<%=edit%>"  src="data:image/<%=user.add.imgData.img.contentType%>;base64,
                     <%=user.add.imgData.img.data.toString('base64')%>" class="rounded-circle">
                     <input type="file" name="image" id="image_collector" value="<%=user.uid%>" class="hidden">
                    </label>
                </div>
              </div>
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
              <div class="d-flex justify-content-between">
                <a href="/chat/<%=user._id%>"  class="btn btn-sm btn-default float-right">Message</a>
              </div>
            </div>
            <div class="card-body pt-0 pt-md-4">
              <div class="text-center mt-10">
                <h3>
                  <%=user.uname%><span class="font-weight-light">, 27</span>
                </h3>
                <div class="h5 font-weight-300">
                  <i class="ni location_pin mr-2"></i>Bucharest, Romania
                </div>
                <div class="h5 mt-4">
                  <i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer
                </div>
                <div>
                  <i class="ni education_hat mr-2"></i>University of Computer Science
                </div>
                <hr class="my-4">
                <p>Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8 order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">My account</h3>
                </div>
                <div class="col-4 text-right">
                  <a href="#!" class="btn btn-sm btn-primary">Settings</a>
                </div>
              </div>
            </div>
            <div class="card-body">
                <h6 class="heading-small text-muted mb-4">User information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <p id="err"><%=errmsg%></p>
                        <label class="form-control-label" for="input-username">Username</label>
                        <input type="text" id="input-username" class="imp form-control form-control-alternative" placeholder="Username" name="uname" value="<%=user.uid %>">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-email">Email address</label>
                        <input type="email" name="email"  id="input-email" class="imp form-control form-control-alternative" placeholder="user@example.com" value="<%=user.email%>">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-first-name">First name</label>
                        <input type="text" id="input-first-name" name="fname" value="<%=user.uname%>" class=" imp form-control form-control-alternative" placeholder="First name" value="Lucky">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-last-name">Last name</label>
                        <input type="text" id="input-last-name" class="imp form-control form-control-alternative" placeholder="Last name" name="lname" value="<%=user.lname%>">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                      <div class="form-group w-1/2 focused">
                        <label class="form-control-label" for="input-phone">Phone Number</label>
                        <input type="text" id="input-phone" class="imp form-control form-control-alternative" placeholder="Phone Number" name="mobile" value="<%=user.mobile%>">
                      </div>                    
                  </div>
                </div>
                <hr class="my-4">
                <!-- Address -->
                <h6 class="heading-small text-muted mb-4">Contact information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-address">Address</label>
                        <input id="input-address" class="form-control form-control-alternative" placeholder="Home Address" name="local_address" value="<%=user.add.address.localAddress%>" type="text">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-city">City</label>
                        <input type="text" id="input-city"  class="form-control form-control-alternative" placeholder="City" name="city" value="<%=user.add.address.city%>">
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-country">Country</label>
                        <input type="text" id="input-country" class="form-control form-control-alternative" placeholder="Country"  name="country" value="<%=user.add.address.country%>">
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-country">Postal code</label>
                        <input type="number" name="zip" id="input-postal-code" class="form-control form-control-alternative" value="<%=user.add.address.zip%>" placeholder="Postal code">
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4">
                <!-- Description -->
                <h6 class="heading-small text-muted mb-4">About me</h6>
                <div class="pl-lg-4">
                  <div class="form-group focused">
                    <label>About Me</label>
                    <textarea rows="4" name="about" class="form-control form-control-alternative" placeholder="A few words about you ..."></textarea>
                  </div>
                  <button class="btn btn-info" id="profile-btn" name="profileBtn" value="<%=btn%>"><%=btn%></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%-include("partials/footer.ejs");%>