<%- include('partials/header.ejs'); %>
<section class="search-box-container w-full my-28">
   <div class="reg container grid place-content-center">
   		<p id="err" class="text-center"><%=errmsg%></p>
   		<form class="w-full" action="/register" method="POST">
   			    <div class="container h-100 w-full">
         				<div class="d-flex justify-content-center h-100">
           				<div class="searchbar">
             					<input class="search_input" type="text" name="uid" placeholder="Search...">
             					<button type="submit" ><i class="fas fa-search"></i></a>
           				</div>
         				</div>
       			</div>
   			<a href = "/fetch/%20" class="btn btn-primary sm:mx-20 md:mx-20" >Skip</a>
   		</form>
   </div>
</section>
<%- include('partials/footer.ejs'); %>