<%-include("partials/header");%>
                <div class="flex flex-no-wrap bg-neutral-50 h-full">
                    <!-- Sidebar starts -->
                    <!-- Remove class [ hidden ] and replace [ sm:flex ] with [ flex ] -->
                    <div  style="min-height:780px" class=" w-64 absolute sm:relative bg-indigo-900 shadow md:h-full flex-col justify-between sm:flex" id="non-mobile">
                        <div>
                            <div class="h-16 w-full flex items-center px-8">
                                <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/light_with_icons_at_bottom_alternate_style-svg1.svg" alt="Logo">
                            </div>                            
                            <ul class="mt-12">
                                <li class="flex w-full justify-between text-white bg-indigo-800  cursor-pointer items-center py-3 px-8">
                                    <a href="/admin/userlist/<%=user._id%>"  target="page" class="flex items-center  rounded focus:outline-none focus:ring-2 focus:ring-white">
                                        <i class="fas fa-users"></i>
                                        <span class="text-sm ml-2">Users</span>
                                    </a>
                                </li>
                                <li class="flex w-full justify-between text-gray-200 hover:text-white hover:bg-indigo-800 cursor-pointer items-center px-8 py-3">
                                    <a href="/profile/<%=user._id%>/true" class="flex items-center  rounded focus:outline-none focus:ring-2 focus:ring-white">
                                        <i class="fas fa-user"></i>
                                        <span class="text-sm ml-2">My Profile</span>
                                    </a>
                                </li>
                                <li class="flex w-full justify-between text-gray-200 hover:text-white hover:bg-indigo-800 cursor-pointer items-center px-8 py-3">
                                    <a href="/events/<%=user._id%>" target="page"  class="flex items-center  rounded focus:outline-none focus:ring-2 focus:ring-white">
                                        <i class="fas fa-list"></i>    
                                        <span class="text-sm ml-2">Events</span>
                                    </a>
                                </li>
                                <li class="flex w-full justify-between text-white bg-indigo-800  cursor-pointer items-center py-3 px-8">
                                    <a href="/logout" class="flex items-center  rounded focus:outline-none focus:ring-2 focus:ring-white">
                                        <i class="fas fa-sign-out-alt"></i>
                                        <span class="text-sm ml-2">Log Out</span>
                                    </a>
                                </li>                                
                                <li class="flex w-full justify-between text-gray-200 hover:text-white hover:bg-indigo-800 cursor-pointer items-center px-8 py-3">
                                    <a href="/user-settings/<%=user._id%>"    target="page" class="flex items-center  rounded focus:outline-none focus:ring-2 focus:ring-white">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-settings" width="18" height="18" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" />
                                            <path d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                                            <circle cx="12" cy="12" r="3" />
                                        </svg>
                                        <span class="text-sm ml-2">Settings</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="flex items-center mt-48 px-8">
                                <div class="w-10 h-10 bg-cover rounded-md mr-3">
                                    <img src="data:image/<%=user.add.imgData.img.contentType%>;base64,
                     <%=user.add.imgData.img.data.toString('base64')%>" alt="display avatar" role="img" class="rounded-full h-full w-full overflow-hidden shadow" />
                                </div>
<!---USER PROFILE DATA HERE---->                                
                                <div>
                                    <p class="text-gray-200 text-sm font-medium"><%=user.uname %></p>
                                </div>
                            </div>
                        </div>
                        <div class="px-8 bg-indigo-800">
                            <ul class="w-full flex items-center justify-between">
                                <li class="cursor-pointer text-white pt-5 pb-3">
                                    <a aria-label="open notifications" href="javascript:void(0)">
                                        <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/light_with_icons_at_bottom_alternate_style-svg3.svg" alt="notifications">
                                    </a>
                                </li>
                                <li class="cursor-pointer text-white pt-5 pb-3">
                                    <a aria-label="open messages" href="/message/<%=user._id%>" >
                                        <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/light_with_icons_at_bottom_alternate_style-svg4.svg" alt="chat">
                                    </a>
                                </li>
                                <li class="cursor-pointer text-white pt-5 pb-3">
                                    <a aria-label="open settings"   target="page" href="/user-settings/<%=user._id%>">
                                        <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/light_with_icons_at_bottom_alternate_style-svg5.svg" alt="settings">
                                    </a>
                                </li>
                                <li class="cursor-pointer text-white pt-5 pb-3 ">
                                    <a aria-label="open archive" href="javascript:void(0)">
                                        <i class="fas fa-door-open"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div style="height : 100vh" class="w-64 z-40 absolute sm:relative bg-indigo-900 shadow  flex-col justify-between sm:hidden transition duration-150 ease-in-out" id="mobile-nav">
                        <button aria-label="open sidebar" id="openSideBar" class="h-10 w-10 bg-indigo-900 absolute right-0 mt-16 -mr-10 flex items-center shadow rounded-tr rounded-br justify-center cursor-pointer focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-900" onclick="sidebarHandler(true)">
                            <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/light_with_icons_at_bottom_alternate_style-svg7.svg" alt="toggler">
                        </button>
                        <div id="closeSideBar" class="hidden h-10 w-10 bg-indigo-900 absolute right-0 mt-16 -mr-10 flex items-center shadow rounded-tr rounded-br justify-center cursor-pointer text-white" onclick="sidebarHandler(false)">
                            <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/light_with_icons_at_bottom_alternate_style-svg8.svg" alt="cross">
                        </div>
                        <div>
                            <div class="h-16 w-full flex items-center px-8">
                                <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/light_with_icons_at_bottom_alternate_style-svg1.svg" alt="Logo">
                            </div>
                            <ul class="mt-12">
                                <li class="flex w-full justify-between text-white bg-indigo-800 cursor-pointer items-center py-3 px-8">
                                    <a href="/admin/userlist/<%=user._id%>" target="page" class="flex items-center  rounded focus:outline-none focus:ring-2 focus:ring-white" onclick="sideHandler(true)">
                                        <i class="fas fa-users"></i>
                                        <span class="text-sm ml-2">Users</span>
                                    </a>
                                </li>
                                <li class="flex w-full justify-between text-gray-200 hover:text-white hover:bg-indigo-800 cursor-pointer items-center px-8 py-3">
                                    <a href="/profile/<%=user._id%>/true" class="flex items-center  rounded focus:outline-none focus:ring-2 focus:ring-white">
                                        <i class="fas fa-user"></i>
                                        <span class="text-sm ml-2">My Profile</span>
                                    </a>
                                </li>
                                <li class="flex w-full justify-between text-white bg-indigo-800  cursor-pointer items-center py-3 px-8">
                                    <a href="/logout" class="flex items-center  rounded focus:outline-none focus:ring-2 focus:ring-white">
                                        <i class="fas fa-sign-out-alt"></i>
                                        <span class="text-sm ml-2">Log Out</span>
                                    </a>
                                </li>  
                                <li class="flex w-full justify-between text-white bg-indigo-800  cursor-pointer items-center py-3 px-8">
                                    <a  href="/events/<%=user._id%>" target="page" class="flex items-center  rounded focus:outline-none focus:ring-2 focus:ring-white">
                                        <i class="fas fa-list"></i>
                                        <span class="text-sm ml-2">Events</span>
                                    </a>
                                </li>                                                                
                                <li class="flex w-full justify-between text-gray-200 hover:text-white hover:bg-indigo-800 cursor-pointer items-center px-8 py-3">
                                    <a href="/user-settings/<%=user._id%>" target="page"  class="flex items-center  rounded focus:outline-none focus:ring-2 focus:ring-white">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-settings" width="18" height="18" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" />
                                            <path d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                                            <circle cx="12" cy="12" r="3" />
                                        </svg>
                                        <span class="text-sm ml-2">Settings</span>
                                    </a>
                                </li>
                            </ul>

<!---USER PROFILE DATA HERE FOR RESPONIVE ----> 
                            <div class="flex items-center mt-96 mb-0 px-8">
                                <div class="w-10 h-10 bg-cover rounded-md mr-3">
                                <!---user profile image here--->
                                    <img src="data:image/<%=user.add.imgData.img.contentType%>;base64,
                     <%=user.add.imgData.img.data.toString('base64')%>" alt="display avatar" role="img" class="rounded-full h-full w-full overflow-hidden shadow" />
                                </div>
                                <div>
                                    <p class="text-gray-200 text-sm font-medium"><%=user.uname%></p>
                                    <p class="text-gray-200 text-xs">View Profile</p>
                                </div>
                            </div>
                        </div>
                        <div class="px-8 mt-24 absolute right-0 left-0 bottom-0 bg-indigo-800">
                            <ul class="w-full flex items-center justify-between overflow-scroll">
                                <li class="cursor-pointer text-white pt-5 pb-3">
                                    <a aria-label="open notifications"  href="javascript:void(0)">
                                        <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/light_with_icons_at_bottom_alternate_style-svg3.svg" alt="notifications">
                                    </a>
                                </li>
                                <li class="cursor-pointer text-white pt-5 pb-3">
                                    <a aria-label="open messages" href="/message/<%=user._id %>">
                                        <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/light_with_icons_at_bottom_alternate_style-svg4.svg" alt="chat">
                                    </a>
                                </li>
                                <li class="cursor-pointer text-white pt-5 pb-3">
                                    <a aria-label="open settings"  target="page" href="/user-settings/<%=user._id%>">
                                        <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/light_with_icons_at_bottom_alternate_style-svg5.svg" alt="settings">
                                    </a>
                                </li>
                                <li class="cursor-pointer text-white pt-5 pb-3 ">
                                    <a aria-label="open archive"  href="/logout">
                                        <i class="fas fa-door-open"></i>
                                    </a>
                               </li>
                            </ul>
                        </div>
                    </div>
                    <!--Mobile responsive sidebar-->
                    <!-- Sidebar ends -->
                    <!-- Remove class [ h-64 ] when adding a card block -->
                    <iframe id="srcPage" src="/admin/userlist/<%=user._id%>" name="page" class="container  md:w-4/5 w-full px-6 overflow-hidden">
                    </iframe>
                </div>
<%-include("partials/footer.ejs");%>